@{
    if (!ViewBag.Authenticated)
    {
        ViewBag.UserName = ViewBag.DefaultUserName;
        ViewBag.Avatar =  ViewBag.DefaultAvatar;
    }
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - Onym</title>
    @{
        await Html.RenderPartialAsync("_StylesPartial");
    }
    <link rel="manifest" href="manifest.json">
    <script type="text/javascript">
    document.getElementsByTagName("html")[0].setAttribute('theme-color', JSON.parse(window.localStorage.getItem('onym_theme'))['theme']);document.getElementsByTagName("html")[0].setAttribute('accent-color', JSON.parse(window.localStorage.getItem('onym_theme'))['accent']);
    </script>
</head>
<!-- APP BODY -->
<body class="app">
<!-- HEADER -->
<header class="header">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg" role="navigation">
        <div class="container-lg">
            <!-- NAVBAR-BRAND -->
            <a asp-action="Index" asp-controller="Feed" class="navbar-brand font-weight-bold">ONYM</a>
            <!-- NAVBAR-TOGGLER -->
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- NAVBAR-MAIN-MENU -->
            <div class="collapse navbar-collapse" id="navbar">
                <!-- LINKS -->
                <ul class="navbar-nav">
                    <li>
                        @if (ViewBag.Page == "Index")
                        {
                            <a asp-action="Index" asp-controller="Feed" class="nav-link active">Популярное</a>
                        }
                        else
                        {
                            <a asp-action="Index" asp-controller="Feed" class="nav-link">Популярное</a>
                        }
                    </li>
                    <li>
                        @if (ViewBag.Page == "Best")
                        {
                            <a asp-action="Best" asp-controller="Feed" class="nav-link active">Лучшее</a>
                        }
                        else
                        {
                            <a asp-action="Best" asp-controller="Feed" class="nav-link">Лучшее</a>
                        }
                    </li>
                    <li>
                        @if (ViewBag.Page == "New")
                        {
                            <a asp-action="New" asp-controller="Feed" class="nav-link active">Новое</a>
                        }
                        else
                        {
                            <a asp-action="New" asp-controller="Feed" class="nav-link">Новое</a>
                        }
                    </li>
                    <li>
                        @if (ViewBag.Page == "Random")
                        {
                            <a asp-action="Random" asp-controller="Feed" class="nav-link active">Случайное</a>
                        }
                        else
                        {
                            <a asp-action="Random" asp-controller="Feed" class="nav-link">Случайное</a>
                        }
                    </li>
                </ul>
            <!-- NAVBAR-RIGHT-MENU -->
            <div class="navbar-right d-none d-lg-flex">
                <!-- SEARCH -->
                <form asp-action="Search" asp-controller="Feed" class="search hidden navbar-right-item" autocomplete="off" method="get">
                    <div class="input-group input-group-sm">
                        <input class="search-input-field form-control" name="search" type="search" on placeholder="Поиск" value="" aria-describedby="search-button-addon">
                        <button class="search-button material-icons" type="submit" id="search-button-addon">search</button>
                    </div>
                </form>
                <!-- AVATAR -->
                <div class="d-none d-lg-block navbar-right-item">
                @{
                    if (ViewBag.Authenticated)
                    {
                        <a asp-action="Index" asp-controller="User" asp-route-userName="@ViewBag.UserName" class="user-avatar">
                            <img src="@ViewBag.DefaultAvatar" data-src="@ViewBag.Avatar" alt="Аватар пользователя" asp-append-version="true">
                        </a>
                    }
                    else
                    {
                        <a asp-action="SignIn" asp-controller="User" class="user-avatar">
                            <img src="@ViewBag.DefaultAvatar" data-src="@ViewBag.Avatar"  alt="Аватар пользователя" asp-append-version="true">
                        </a>
                    }
                }
                </div>
            </div>
            </div>
        </div>
    </nav>
</header>
<!-- CONTENT-BLOCK -->
<div class="container-lg d-lg-flex">
    <!-- SIDEBAR -->
    <aside class="sidebar">
        @{
            await Html.RenderPartialAsync("_SideBlockUser");
            if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
            await Html.RenderPartialAsync("_SideBlockAdmin");
            }
            /*await Html.RenderPartialAsync("_CommOfTheDay");
            await Html.RenderPartialAsync("_Advertising");
            await Html.RenderPartialAsync("_TopTags");*/
            await Html.RenderPartialAsync("_SideBlockOther");
        }
    </aside>
    <!-- MAIN -->
    <main class="main">
        @RenderBody()
    </main>
</div>
<!-- FOOTER -->
<footer>

</footer>
<!-- THEME SWITCHER -->
<div class="theme-switcher hidden">
    <div class="popover-menu">
        <div class="accent-list">
            <input type="checkbox" class="accent-list-item" id="change-accent-green">
            <label class="material-icons green" for="change-accent-green"></label>
            <input type="checkbox" class="accent-list-item" id="change-accent-yellow">
            <label class="material-icons yellow" for="change-accent-yellow"></label>
            <input type="checkbox" class="accent-list-item" id="change-accent-sky">
            <label class="material-icons sky" for="change-accent-sky"></label>
            <input type="checkbox" class="accent-list-item" id="change-accent-pastel">
            <label class="material-icons pastel" for="change-accent-pastel"></label>
        </div>
        <div class="theme-switcher-check">
            <p>Тёмная тема</p>
            <input id="theme-switcher-check" type="checkbox"/><label for="theme-switcher-check"></label>
        </div>
    </div>
    <button class="popover-button material-icons">palette</button>
</div>
@{
    await Html.RenderPartialAsync("_ScriptsPartial");
}
</body>