<!-- USER-BLOCK -->
<div class="sidebar-section">
    @{
        if (ViewBag.Authenticated)
        {
            <!-- USER -->
            <div class="sidebar-section-item section-header">
                <!-- AVATAR -->
                <a asp-action="Index" asp-controller="User" asp-route-userName="@ViewBag.UserName" class="user-avatar">
                    <img src="@ViewBag.DefaultAvatar" data-src="@ViewBag.Avatar" alt="Аватар пользователя" asp-append-version="true">
                </a>
                <!-- USERNAME/SIGN-OUT -->
                <div class="user-section">
                    <a asp-action="Index" asp-controller="User" asp-route-userName="@ViewBag.UserName" class="user-nick">@ViewBag.UserName</a>
                    <form asp-action="Logout" asp-controller="User" method="post">
                        <input type="submit" class="user-signin-signout" value="Выйти"/>
                    </form>
                </div>
            </div>
            <div class="separator"></div>
            <!-- RATING -->
            <div class="sidebar-section-item sidebar-counter">
                <div>
                    <div class="counter">@ViewBag.Rating</div>
                    <div class="counter-label">Рейтинг</div>
                </div>
            </div>
            <div class="separator"></div>
            <!-- LINKS -->
            <ul class="sidebar-section-item">
                @if (ViewBag.Page == "Rated")
                {
                    <li class="sidebar-li"><a asp-action="Rated" asp-controller="Feed" class="sidebar-link active">Оценённое</a></li>
                }
                else
                {
                    <li class="sidebar-li"><a asp-action="Rated" asp-controller="Feed" class="sidebar-link">Оценённое</a></li>
                }
                @if (ViewBag.Page == "Favorite")
                {
                    <li class="sidebar-li"><a asp-action="Favorite" asp-controller="Feed" class="sidebar-link active">Избранное</a></li>
                }
                else
                {
                    <li class="sidebar-li"><a asp-action="Favorite" asp-controller="Feed" class="sidebar-link">Избранное</a></li>
                }
                @if (ViewBag.Page == "Comments")
                {
                    <li class="sidebar-li"><a asp-action="Comments" asp-controller="Feed" class="sidebar-link active">Комментарии</a></li>
                }
                else
                {
                    <li class="sidebar-li"><a asp-action="Comments" asp-controller="Feed" class="sidebar-link">Комментарии</a></li>
                }
            </ul>
        }
        else
        {
            <!-- USER -->
            <div class="sidebar-section-item section-header">
                <!-- AVATAR -->
                <a asp-action="SignIn" asp-controller="User" class="user-avatar">
                    <img src="@ViewBag.DefaultAvatar" data-src="@ViewBag.Avatar" alt="Аватар пользователя" asp-append-version="true">
                </a>
                <!-- GUEST/SIGN-IN -->
                <div class="user-section">
                    <a asp-action="SignIn" asp-controller="User" class="user-nick">@ViewBag.UserName</a>
                    <a asp-action="SignIn" asp-controller="User" class="user-signin-signout">Войти</a> 
                </div>
            </div>
            <div class="separator"></div>
            <!-- SIGN-UP -->
            <ul class="sidebar-section-item">
                @if (ViewBag.Page == "SignUp")
                {
                    <li class="sidebar-li"><a class="sidebar-link active">Регистрация</a></li>
                }
                else
                {
                    <li class="sidebar-li"><a asp-action="SignUp" asp-controller="User" class="sidebar-link">Регистрация</a></li>
                }
            </ul>
        }
    }
</div>

<div class="sidebar-section add-post">
    <a asp-action="AddPost" asp-controller="Feed" type="button" class="add-post-button">Добавить пост<span class="add-post-icon">+</span></a>
</div>

