@model Onym.ViewModels.User.IndexViewModel
@{
    ViewBag.Title = Model.User!.UserName;
    ViewBag.Page = "UserProfile";
    var db = new OnymDbContext<User>();
    var rateUps = db.PublicationRatingTallies.Where(t => t.UserId == Model.User.Id).Count(p => p.PublicationRating) + db.CommentRatingTallies.Where(t => t.UserId == Model.User.Id).Count(p => p.Rating);
    var rateDowns = db.PublicationRatingTallies.Where(t => t.UserId == Model.User.Id).Count(p => p.PublicationRating == false) + db.CommentRatingTallies.Where(t => t.UserId == Model.User.Id).Count(p => p.Rating == false);
}
@{
    await Html.RenderPartialAsync("_MainMenuPanelUser");
}
<!-- USER-PROFILE -->
<div class="main-section">
    <div class="main-section-item user-profile-header">
        <!-- AVATAR -->
        <a class="user-avatar large" href="@Model.User!.UserProfilePictureNavigation.FileLink" type="_blank">
            <img src="@ViewBag.DefaultAvatar" data-src="@Model.User!.UserProfilePictureNavigation.FileLink" alt="Аватар пользователя" asp-append-version="true" class="lazy">
        </a>
        <div class="user-profile-about">
            <div class="user-profile-nick">
                @Model.User!.UserName
            </div>
            <div class="user-profile-registration-date">
                Зарегестрировался @Model.User!.RegistrationDate.ToString("dd MMMM yyyy")
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="main-section-item">
        <div class="user-profile-rates">
            Поставил <span class="positive">@rateUps</span> плюсов и <span class="negative">@rateDowns</span> минусов
        </div>
    </div>
    <div class="separator"></div>
    <div class="main-section-item user-profile-statistic">
        <div>
            <span class="counter">
                @Model.User.RatingTotal
            </span>
            <div class="counter-label">
                Рейтинг
            </div>
        </div>
        <div>
            <span class="counter">
                @Model.User.Comments.Count
            </span>
            <div class="counter-label">
                Комментарии
            </div>
        </div>
        <div>
            <span class="counter">
                @Model.User.Publications.Count
            </span>
            <div class="counter-label">
                Посты
            </div>
        </div>
    </div>
</div>